.mainContainer{
  max-width: 70vw;
  background-color: grey;
  margin: 20px auto;
  height: 80vh;
  padding: 10px;
  border: 2px solid black;
}

.message{
  background-color: white;
  width: 25vw;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.left{
  float: left;
  clear: both;
  
}

.right{
  float: right;
  clear: both;
}

.msgContainer{
  height: 59vh;
  overflow-y: auto;
}

